body {
    background-image: url(./assets/brownie.jpeg);
}

.field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    height: 600px;
    width: 1400px;
    /* background-color:#60b922; */

    border-top: 15px solid white;
    border-bottom: 15px solid white;
    background: repeating-linear-gradient( 90deg, rgb(10, 128, 26), rgb(35, 228, 25) 40px, rgb(86, 214, 54) 40px, rgb(163, 230, 157) 80px);
    ;
}
.oppEndzone, .endzone {

    height: 600px;
    width: 180px;
    background-image: url(./assets/dawgpound.png);
}

img {height: 75px;}


.win {
    height: 800px;
    width: 1450px;
    background-image: url(./assets/browns-celebration.jpeg);
    font-size: 100px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 3;
}
 .win p {
    background-color: rgba(71, 37, 12, 0.772);
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(249, 131, 4);
  
 }
.safety {
   
    background-image: url(./assets/safety.jpeg);
    height: 800px;
    width: 1450px;
    color: white;
    font-size: 100px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 3;
}

.out {
 
    background-image: url(./assets/whatNC.jpeg);
    height: 800px;
    width: 1450px;
    font-size: 100px;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 3;  
}

.reset {
    border: 5 px solid black;
    background-color: rgb(29, 224, 208);
    height: 100px;
    width: 200px;
    font-size: xx-large;
    border-radius: 10px;
}

h1, p {
    background-color: orange;
    text-align: center;
    margin: 0px;
}

p {
    margin-bottom: 20px;
}