body {
    background-color: orange;
}

.field {
    height: 70vh;
    /* background-color:#60b922; */
    border: 5px solid white;
    background: repeating-linear-gradient( 90deg, rgb(10, 128, 26), rgb(35, 228, 25) 40px, rgb(86, 214, 54) 40px, rgb(163, 230, 157) 80px);
    ;
}

